<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/style.css">
	<title> Blog - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
		<img src="{{ app.request.basepath }}/img/7.jpg" alt="Header">
            <nav>
			
                <ul>
                    <li class="logo">
                        <a href="{{ app.url_generator.generate('home') }}">Nicolas Rabrenovic <br>
						<p>An other blog... </p></a>
                    </li>
                    {% if admin == 1 %}
					<div class="admin">
                    <li>
                        <a href="{{ app.url_generator.generate('getAdminArticle') }}"><img src="{{ app.request.basepath }}/img/newpost.png" alt="Nouvel Article"></a>
                    </li>
                    <li>
                        <a href="{{ app.url_generator.generate('getAdminTags') }}"><img src="{{ app.request.basepath }}/img/newtag.png" alt="Nouvel Article"></a>
                    </li>
					</div>
                    {% endif %}
                </ul>
            </nav>
            <div>
            {% if user %}
					<div class="user">
                    <p>Bienvenue, {{ user.name }}</p>
                    <a href="{{ app.url_generator.generate('logout') }}">Logout</a>
					</div>
            {% else  %}
			<div class="logreg">
                <a href="{{ app.url_generator.generate('login') }}">Login</a>
                <a href="{{ app.url_generator.generate('register') }}">Register</a>
			</div>
            {% endif %}
            </div>
        </header>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
		<hr>
		<ul>
		<li><a href="#">&copy Nicolas Rabrenovic 2014</a></li>
	
		</ul>
        </div>
    </body>
</html>
